{% extends "pages/base.html" %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<h3>Слева вы сможете найти все ссылки</h3>
<p><a href="https://t.me/uztfBot">Ссылка на чат-бота</a></p>
<h3>Как пользоваться ботом?</h3>
<p>1) Отправьте примерное название фильма, бот найдёт самые похожие названия</p>
<p>2) Выберите одну из ссылок, среди кнопок.</p>
<p>3) Если среди них нет нужного фильма, вы можете отправить сообщение снова c другим текстом запроса</p>
<p>4) Вы можете отправить команду <b>/feedback</b>, чтобы получить ссылки для взаимодействия с администрацией чат-бота</p>
{% endblock %}